/* .vitepress/theme/my-fonts.css */
:root {
  --vp-font-family-base: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Noto Sans CJK SC, WenQuanYi Micro Hei, Arial, sans-serif;
  --vp-font-family-mono: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

main p{text-indent:2em;}
main blockquote p { text-indent: 0; }
.my-nav-block {
  display: flex;align-items: center;margin-bottom:20px;
  background-color: var(--vp-c-default-1);padding: 10px 5px;
}
.my-nav-block a{color: var(--vp-c-brand-1)}
footer p a img{display: inline-block;vertical-align:middle}