/* .vitepress/theme/my-fonts.css */
:root {
  --vp-font-family-base: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Noto Sans CJK SC, WenQuanYi Micro Hei, Arial, sans-serif;
  --vp-font-family-mono: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}
:root {
  --vp-home-hero-image-background-image: radial-gradient(circle, #fff 20%, #00f 80%);
  --vp-home-hero-image-filter: blur(49px) ;
}
main p{text-indent:2em;}
pre{white-space: pre-wrap; word-break: break-all;}